.auth {
    min-height: 60vh;
}
.auth__block {
    max-width: 50.5rem;
    padding: 6rem;
    gap: 4rem;
}
.auth__btn {
    font-size: 13px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    padding: 2rem;
}
.register__btn {
    font-size: 16px;
}
@media (max-width: 1360px) {
    .auth__block {
        padding: 4rem;
    }

}
@media (max-width: 800px) {
    .auth__block {
        padding: 3rem;
        gap: 2.5rem;
        max-width: 45rem;
    }

    .auth__form {
        gap: 2rem;
    }
    .auth__btn {
        padding: 1.5rem;
        font-size: 1.3rem;
    }
}
@media (max-width: 600px) {
    .auth {
        min-height: unset;
    }
}
@media (max-width: 450px) {
    .auth__btns {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }

    .auth__btn{
        font-size: 1.15rem;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .auth__btn svg {
        display: none;
    }

}