.breadcrumbs__block {
    gap: 6px;
    margin-top: 3rem;
    margin-bottom: 4rem;
    align-items: flex-start !important;
    flex-wrap: wrap;
}
.breadcrumbs__block img {
    margin-top: 2px;
}
.breadcrumbs__item {
    gap: 3px;
}

.breadcrumbs__item span {
    font-weight: 600;
    font-size: 1.4rem;


}

.catalog {
    min-height: 100vh;
}

a.breadcrumbs__item span {
    color: #FFCF00;
    min-width: fit-content;

}
.breadcrumbs__item:last-child {
    flex: 1;
}

.breadcrumbs__item:last-child span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 6rem;
    max-width: 100vw;
}