.cart {
    min-height: 50vh;
}

.cart__link_catalog {
    padding: 1.2rem 2rem;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    transition: background .3s;
}
.cart__link_catalog:hover {
    background: #FFCF00;
}
.cart-empty {
    margin-top: 3rem;
}
.cart__left_top {
    gap: 4rem;

}

.cart__link_catalog {
    height: fit-content;
}

.cart__block {
    gap: 8rem;
}
@media (max-width: 450px) {
    .cart__link_catalog {
        padding: 1.2rem 1.5rem;
        font-size: 11px;
    }
    .cart__left_top {
        gap: 2rem;
    }
}
