.catalog {
    min-height: 90vh;
}

.catalog__title {
    font-weight: 600;
}

.catalog__point {
    padding: 2rem;
}

.catalog__pl_item {
    padding: 1rem 0;
    font-weight: 400;
    border-top: 1px solid #e1e1e1;
    cursor: pointer;
}

.catalog__pl_item:last-child {
    border-bottom: 1px solid #e1e1e1;
}

.catalog__point_text, .catalog__pl_item {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 18px;
}

.cp__block {
    padding: 2rem;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 30;
    display: none;
}

.cp__block-opened {
    display: flex !important;
}

.cp__interior {
    padding: 0;
}

.catalog__p_yellow {
    color: #FFCF00;
    font-weight: 600;
}

.catalog__top {
    margin-bottom: 3rem;
}

.catalog__point_right {
    gap: 0.2rem;
}

.catalog__left {
    max-width: 44rem;
    min-width: 44rem;
}

.catalog__search, .ctg__part, .ctg__filter {
    height: 39px;
}

.catalog__search {
    width: 100%;
    padding: 0 2rem;
}

.catalog__search input {
    flex: 1;
}

.catalog__categories__block {
    padding: 3.3rem;
    min-height: 30vh;
    max-height: 76vh;

}
#catalogLoadBtn {
    padding: 1.5rem 4rem;
    font-size: 1.4rem;
    border-radius: 6px;
    width: 30rem;
    width: fit-content;
}
.catalog__ctg_analyzes,
.ctg__group {
    border-bottom: 1px solid #E1E1E1;
    padding-right: 1rem;
}
.ctg__group::-webkit-scrollbar {
    background: #d9d9d9;
    width: 3px;
}
.ctg__group::-webkit-scrollbar-thumb {
    background: #7a7a7a;
}

.catalog__ctg_analyzes {
    padding-bottom: 1rem;
}

.ctg__group {
    padding-bottom: 2rem;
    height: 100%;
    overflow: auto;
}

.catalog__ctg_name {
    font-size: 1.8rem;
    line-height: 18px;
}

.ctg__group_title,
.ctg__group_item p {
    font-size: 1.4rem;
}

.ctg__group_item p {
    color: #A9A9A9;
    font-weight: 500;
}

.ctg__group_item > p {
    flex: 0.95;
}

.ctg__item_right {
    height: fit-content;
    margin-top: 2px;
}

.ctg__item_right p {
    text-align: right;
}

.ctg__checkbox {
    width: 17px;
    border: 1px solid #979797;
    height: 17px;
    border-radius: 4px;
    transition: 0.3s border;
    box-sizing: border-box;
}

.ctg__checkbox:hover {
    border: 1px solid #12B2B3;
}

.ctg__checkbox_icon {
    top: 0;
    left: 0;
    border-radius: inherit;
    visibility: hidden;
    opacity: 0;
}

.ctg__item_checkbox:checked ~ .ctg__checkbox {
    background: #12B2B3;
    border: none;
}

.ctg__item_checkbox:checked ~ .ctg__checkbox > .ctg__checkbox_icon {
    visibility: visible;
    opacity: 1;
}

.ctg__a_title {
    font-size: 2.4rem;
    margin-top: -5px;
    text-transform: uppercase;
}

.catalog__content {
    gap: 4rem;
}

.catalog__right {
    flex: 1;
    gap: 50px;
}

.ctg__group_item:hover {
    cursor: default;
}

.ctg__part {
    color: #A9A9A9;
    text-align: center;
    font-size: 1.3rem;
    padding: 0 5.6rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 6px;
}

.ctg__parts {
    min-width: 67.1rem;
}

.ctg__part p {
    font-weight: inherit;
}

.ctg__part_selected {
    color: #4D4D4D;
    font-weight: 700;
    background: linear-gradient(45deg, #FB0 0%, #FFCB3D 52.60%, #FFDA75 100%);
}

.ctg__filter {
    padding: 0 1rem;
}

.ctg__filter p {
    background: linear-gradient(45deg, #12B2B3, #56E0E0);
    -webkit-background-clip: text;
    font-size: 1.3rem;

    -webkit-text-fill-color: transparent;
}


.ctg__a_empty_text {
    text-align: center;
    font-size: 1.8rem;
    max-width: 456px;
    font-weight: 500;
    line-height: 130%;
}

.ctg__a_block {
    display: flex;
}

.ctg__a_empty {
    display: none;
}
.ctg__a_empty img {
    width: 70%;
}
.catalog__filter_window {
    z-index: 250;
    top: 0;
    left: 0;
    background: white;
    padding: 1rem 0;
    transition: .3s transform;
    transform: translateX(-200vw);
    display: none;
}
#filter-menu__btn {
    border-radius: 50%;
    bottom: 8rem;
    right: 2rem;
    z-index: 80;
    height: 5rem;
    width: 5rem;
    box-shadow: 0px 1px 15px 0px rgba(19, 101, 101, 0.20);
}
#filter-menu__btn svg {
    height: 40%;
    width: 40%;
}
.catalog__fw_block {
    height: 100%;

}
.catalog__fw_content {
    flex: 1;
    overflow-y: auto;
}
.catalog__fw_content::-webkit-scrollbar {
    display: none;
}
.catalog__fw-opened {
    transform: unset;
}
.catalog__fw_accept {
    min-height: 4.5rem;
    font-size: 1.4rem;
    max-width: 100%;

}
.catalog__fw_block .wrapper {
    max-width: 90% !important;
}
@media (max-width: 1360px) {

    .catalog__left {
        max-width: 35rem;
        min-width: 35rem;
        height: 100vh;
    }

    .catalog__categories__block::-webkit-scrollbar {
        width: 5px;
    }

    .catalog__categories__block::-webkit-scrollbar-thumb {
        background: rgba(224, 224, 224, 0.57);
        border-radius: 10px;

    }

    .ctg__group_title, .ctg__group_item p {
        font-size: 1.2rem;
    }

    .ctg__item_right {
        gap: 7px;
    }

    .ctg__part {
        padding: 0;
        flex: 1;
    }

    .ctg__parts {
        min-width: fit-content;
        flex: 1;
    }

    .ctg__filter svg {
        width: 1.8rem;
        height: 1.8rem;
    }



    .ctg__group_list {
        gap: 6px;
    }

    .catalog__categories__block {
        padding: 2.5rem;
        overflow-y: scroll;
    }

    .product__lipids {
        gap: .8rem;
    }



    .ctg__a_title {
        font-size: 2rem;
    }

    .catalog__search {
        padding: 1rem 2rem;
    }
}

@media (max-width: 1015px) {

    .ctg__filter p {
        display: none;
    }

    .catalog__left {
        max-width: 28rem;
        min-width: 28rem;

    }

    .ctg__part {
        font-size: 1.15rem;
    }

    .ctg__part, .ctg__filter {
        height: 33px;
    }

    .catalog__search svg {
        height: 1.7rem;
    }

    .catalog__search input {
        font-size: 1.1rem;
    }


}
#filter-menu__btn {
    display: none;
}
@media (max-width: 800px) {
    .catalog__right_top .ctg__filter {
        display: none;
    }
    .catalog__filter_window {
        display: flex;
    }
    #filter-menu__btn {
        display: flex;
    }

    .catalog__left {
        display: none;
    }

    .catalog__top {
        justify-content: space-between;
    }

    .catalog__point_text {
        font-size: 1.3rem;
    }

    .catalog__point {
        padding: 1.2rem;
    }

    .catalog__pl_item {
        font-size: 1.2rem;
    }

    .cp__block {
        padding: 0;
    }

    .catalog__right_top {
        position: sticky;
        z-index: 3;
        top: 3rem;

    }
}

@media (max-width: 600px) {
    .catalog {
        min-height: fit-content;
    }

    .catalog__top {
        flex-direction: column;
        align-items: unset;
        gap: 1rem;
    }
    .ctg__a_empty p {
        font-size: 1.3rem;
    }
    .ctg__a_empty img {
        width: 80%;
    }
    .catalog__point {
        width: fit-content;
    }
}

@media (max-width: 450px) {
    .catalog__point_text {
        font-size: 1.2rem;
    }
    .ctg__a_empty img {
        width: 100%;
    }
    .ctg__a_title {
        font-size: 1.6rem;
    }



    .ctg__part {
        font-size: 1.05rem;
    }

    .catalog__top {
        margin-bottom: 2rem;
    }

    .catalog__top > .catalog__point {
        background: white;
        border-radius: 6px;
        background: #FFF;
        box-shadow: 0px 1px 8px 0px rgba(19, 101, 101, 0.10);
    }


}
