.ui-widget.ui-widget-content {
    border: none;
    padding: 2rem;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 1px 8px 0px rgba(19, 101, 101, 0.05);
    top: 100% !important;
    left: 0 !important;
}

.ui-datepicker {
    font-family: Arial, sans-serif;
    font-size: 14px;
    border: none;
    width: 300px; /* Увеличение ширины календаря */
}

.ui-datepicker-header {
    background-color: white;
    border: none;
}

.ui-datepicker-title {
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

.ui-datepicker-prev, .ui-datepicker-next {
    background-color: white;
    color: #999;
    font-weight: bold;
    font-size: 18px;
    border: unset;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
   width: fit-content;
    cursor: pointer;
    height: fit-content;
}
.ui-datepicker-prev:hover, .ui-datepicker-next:hover {
    background-color: white;
}

.ui-datepicker-calendar {
    border-collapse: collapse;
    width: 100%;
    border: none;
}

.ui-datepicker-calendar th {
    background-color: white;
    color: #333;
    font-weight: bold;
    padding: 8px;
    text-align: center;
}

.ui-datepicker-calendar td {
    padding: 0;
}

.ui-datepicker-calendar .ui-state-default {
    background-color: transparent; /* Удаление фона на каждом числе */
    border: none; /* Удаление границы на каждом числе */
    color: #333;
    cursor: pointer;
    padding: 5px;
    text-align: center;
}

.ui-datepicker-calendar .ui-state-default:hover {
    background-color: #f5f5f5;
}

.ui-datepicker-calendar .ui-state-active {
    background-color: transparent; /* Удаление фона у выбранного числа */
    border: 1px solid orange; /* Обводка рамкой выбранного числа */
    border-radius: 50%; /* Сделать выбранное число круглым */
    color: #333; /* Изменение цвета текста у выбранного числа */
}

.ui-datepicker-calendar a {
    height: 28px;
    width: 28px;
}

.ui-datepicker-calendar .ui-state-highlight {
    background-color: #ffe6b3;
}

/* Стили для дней прошлых и будущих месяцев */
.ui-datepicker-other-month .ui-state-default {
    color: #999;
}

/* Увеличение размера текста года */
.ui-datepicker-year {
    font-size: 17px;
}

/* Добавление стрелок для навигации годов */
.ui-datepicker-year-old,
.ui-datepicker-year-new {
    display: block;
}

.ui-datepicker-prev span,
.ui-datepicker-next span {
    display: block;
}

.ui-datepicker-calendar .ui-datepicker-year {
    display: none; /* Скрыть выбор года по умолчанию */
}

.ui-datepicker-year-container {
    margin-top: 10px;
    text-align: center;
}

.ui-datepicker-year-container .ui-state-default {
    background-color: transparent; /* Удаление фона у года */
    border: none; /* Удаление границы у года */
    color: #333;
    cursor: pointer;
    padding: 5px;
    text-align: center;
}

/*.ui-datepicker-year-container .ui-state-default:hover {*/
/*    background-color: #f5f5f5;*/
/*}*/

.highlighted {
    background-color: #ffa500;
    border-radius: 50%;
}

.ui-datepicker-year-menu {
    display: none;
    position: relative;
    top: -5px;
}

.ui-datepicker-prev:before,
.ui-datepicker-next:before {

    font-size: 0.9em;
}

.ui-datepicker-prev {
    left: 0;

}

.ui-datepicker-prev:before {
    content: url("../img/icons/arrow_left.svg");
}

.ui-datepicker-next:before {
    content: url("../img/icons/breadcrumbs_arrow.svg");
    right: 0;
}

.ui-datepicker-next {
    right: 0;
    display: flex;
    justify-content: flex-end;
    content: ">";
}

.ui-datepicker-year,
.ui-datepicker-month {
    max-height: 150px; /* Максимальная высота списка */
    overflow-y: auto; /* Добавление вертикальной прокрутки при необходимости */
}
