footer {
    margin-top: 12rem;
    padding: 6rem 0;
    background: #4D4D4D url("../img/footer_bg.png") no-repeat;
    background-size: cover;
    color: white;
}

.footer__links_title, .footer__bottom_item {
    font-size: 1.4rem;
    font-weight: 400;
    width: fit-content;
}

.footer__top_nav {
    gap: 8rem;
}

.footer__link {
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    display: inline-block;
    width: fit-content;
    white-space: break-spaces;
    text-overflow: clip;
    max-width: 223px;

}

.footer__links_list {
    width: fit-content;
}

.footer__socials {
    margin-top: 3rem;
}

.footer__line {
    width: 100%;
    height: 1px;
    background: white;
    margin: 4rem 0;
}
.footer__created {
    color: #8F8F8F;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
@media (max-width: 1360px) {
    .footer__top_nav {
        flex-wrap: wrap;
        width: fit-content;
        justify-content: space-between;
        gap: 3rem;
    }
    .footer__top {
        gap: 5rem;
       justify-content: space-between;
    }
    .footer__link {
        font-size: 1.4rem;
    }

}
.footer__socials-mobile {
    display: none;
}
@media (max-width: 800px) {
    footer {
        margin-bottom: 63px;
    }
    .footer__top {
        flex-direction: column;
        gap: 3rem;
    }
    .footer__socials {
        margin: 0;
    }
    .footer__socials-desktop {
        display: none;
    }
    .footer__socials-mobile {
        display: flex;
    }
    .footer__top_wrapper {
        display: flex;
        justify-content: space-between;
    }
}
@media (max-width: 600px) {
    .footer__nav_group {
        width: 45%;
        gap: 1rem;
    }

    .footer__link br {
        display: none;
    }
    .footer__bottom {
        flex-wrap: wrap;
        gap: 2rem;
    }
    .footer__bottom a {
        order: -1;
    }

}
@media (max-width: 450px) {
    .footer__top, .footer__top_wrapper {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    .footer__phone {
        align-items: center;
    }
    .footer__nav_group {
        width: 100%;
        gap: 2rem;
        max-width: 20rem;
    }
    .footer__bottom {
        flex-direction: column;
        align-items: flex-start;
    }

}