.header__top {
    padding: 9px 0;
}

.header__geo_text {

    font-size: 1.2rem;
    font-weight: 600;
}

.header__nav {
    gap: 6.7rem;
}
.header__fb_description {
    font-size: 1.1rem;
    color: #8F8F8F;

}
.hf__input::placeholder, header .form__field_input::placeholder {
    color: #E1E1E1;
}

.hf__textarea {
    resize: none;
    min-height: 5rem;
}
.header__nav_item {
    color: #B8B8B8;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.header__nav_item_current {
    color: #4D4D4D;
}

.header__phone_text {
    color: #4D4D4D;
    font-size: 1.4rem;
    font-weight: 500;
}

.header__middle {
    padding: 16px 0;
    background: #F5F5F2;
}

.header__middle_logo svg {
    max-width: 160px;
    width: fit-content;
    padding-right: 1.5rem;
    border-right: 1px solid #4D4D4D;
}

.header__middle_logo p {
    max-width: 167px;
    color: #4D4D4D;
    font-size: 1.6rem;
}

.header__middle_search, .header__middle_search-mobile {
    padding: 10px 20px;
    background: white;
    border-radius: 6px;
    background: #FFF;
    width: 37.4rem;
    box-shadow: 0px 1px 8px 0px rgba(19, 101, 101, 0.10);
}
.header__middle_block-mobile {
    display: none;
}
.header__middle_search-mobile {
    width: 100%;
}

.header__middle_search, .header__middle_search-mobile .header__btn_results, .header__btn_profile {
    height: 45px;
}

.header__btn_results, .header__btn_profile {
    color: #353535;
    font-size: 1.3rem;
    font-weight: 500;
}

.header__middle_search .placeholder, .header__middle_search-mobile input {
    font-size: 1.4rem;
    line-height: 16px;
    flex: 1;
}

.header__middle_cart {
    width: 4.5rem;
    height: 4.5rem;
    cursor: pointer;
    background: white;
    border-radius: 12px;
}

.header__cart_count {
    border-radius: 1000px;
    background: #FFCF00;
    padding: 2px 4px;
    font-size: 1.2rem;
    top: -6px;
    right: -8px;
    font-weight: 600;
    min-width: 20px;
}

.header__bottom {
    padding: 2rem 0;
}

.header__bt_nav_item {
    font-size: 1.6rem;
    font-weight: 600;
    transition: .3s color;
}
.header__bt_nav_item:hover svg path {
    transition: .3s stroke;
}
.header__bt_nav_item:hover {
    color: #FFCF00;
}
.header__bt_nav_item:hover svg path {
    stroke: #FFCF00;
}
.header__middle_logo_small {
    display: none;
}
.header__feedback {
    padding: 2rem;
    top: calc(100% + .5rem);
    width: 28rem;
    z-index: 180;
    display: none;
    left: 0;
    cursor: default;
}
.header__feedback-opened {
    display: flex;
}

.header__feedback .form__field_wrapper {
    padding: 1rem;
}
.hf__input  {
    font-size: 1.2rem;
}
.hf__label {
    font-size: 1.1rem;
}
.hf__field {
    gap: 5px;
}
.hf__btn {
    font-size: 1.2rem;
    margin-top: .75rem;
    padding: 1rem 2rem;
    width: fit-content;

}
.header__feedback_title {
    font-size: 1.4rem;
}

@media (max-width: 1360px) {
    .header__middle_logo p {
        display: none;
    }
    .header__middle_block {
        gap: 1rem;
    }
    .header__middle_logo svg {
        max-width: 15rem;
    }
    .header__middle_cart {
        width: 3.8rem;
        height: 3.8rem;
        min-width: 3.8rem;
        min-height: 3.8rem;
    }
    .header__middle_cart svg {
        height: 22px;
    }
    .header__middle_search {
        flex: 1;
        width: 30rem !important;
        padding: 1rem;

    }
    .header__middle_btns .btn {
        padding: 0 1rem;
    }

}
@media (max-width: 1015px) {
    .header__bt_nav_item {
        font-size: 1.4rem;
    }
    .header__middle_logo {
        display: none;
    }
    .header__middle_logo_small {
        display: block;
    }
    .header__middle_left, .header__middle_right, .header__middle_btns {
        gap: 1rem;
    }
    .header__btn_results, .header__btn_profile {
        font-size: 1.15rem;
    }
}
@media (max-width: 800px) {
    .header__top_block .header__geo, .header__top_block .header__phone {
        display: none;
    }
    .header__nav {
        justify-content: space-between;
        gap: 2rem;
        width: 100%;
    }

    .header__bottom {
        display: none;
    }
    .header__middle_block {
        display: none;
    }
    .header__middle_block-mobile {
        display: flex;
    }
    .header__middle_logo {
        display: block;

    }
    .header__middle_logo svg {
        border-right: none;
    }
    .header__mb_login {
        font-size: 1rem;
        font-weight: 500;
    }
    .header__mb_btns__left svg {
        max-width: 1.8rem;
        max-height: 1.8rem;
    }


}
@media (max-width: 450px) {
    .header__middle_logo svg {
        max-width: 90px;
        padding-right: 0;
    }
    .header__cart_count {
        font-size: 10px;
    }
    .header__mb_login {
        padding: .8rem 1rem;
        height: 3.2rem;
    }
    .header__middle_cart {
        min-height: 3.2rem;
        height: 3.2rem;
        min-width: 3.2rem;
        border-radius: 6px;
        width: 3.2rem;
    }
    .header__middle_cart svg {
        height: 1.8rem;
        width: 1.8rem;
    }
    .header__mb_geo, .header__mb_phone {
        width: 1.8rem;
        height: 1.8rem;
    }
    .header__middle_search-mobile input {
        font-size: 1.2rem;
    }
    .header__nav_item {
        font-size: 1.1rem;
    }
}