
.get-results {
    padding-bottom: 18rem;
}
.get-results::after {
    content: "";
    height: 2px;
    width: 100%;
    background: white;
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
}

.get-results::before {
    content: "";
    height: 100vh;
    width: 1px;
    background: white;
    z-index: 5;
    position: absolute;
    top: 0;
    right: 0;
}

.get-results__video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.get-results__block {
    padding-top: 6rem;
    max-width: 84rem;
    width: 100%;
}

.get-results__field {
    z-index: 150;
    border-radius: 6px 6px 0 0;
}
.get-results__field .search__results {
    top: calc(100% + 1px);
    left: 0;
    display: none;
    z-index: 3;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
}

.get-results__field .search__results .search__product {
    border-top: unset;
    border-bottom: 1px solid #e1e1e1;
}
.search__product {
    transition: .3s background;
}
.search__product:hover {
    background: #f6f6f6;
}
.get-results__title {
    font-weight: 300;
    max-width: 68rem;
}

.get-results__text {
    color: #4D4D4D;
    font-size: 2.4rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.get-results__field {
    width: 100%;
    height: 6rem;
    padding: 0 2rem;
    background: white;
}


.get-results__field input {
    flex: 1;
}


.get-results__input_btn {

}
.get-results .search__results {
    z-index: 200;
    flex-direction: column;
    display: none;
}

.popular-analyzes {
    padding: 2rem 0 4rem;
}

.popular-analyzes__title {
    font-weight: 300;
    margin-bottom: 3rem;
}

.pa__slider_title {
    font-size: 2.4rem;
    text-transform: uppercase;
}

.pa__slider {
    width: calc(100%);
    overflow-x: hidden;
}

.pa__slider_next-wrapper {
    right: -5px;
}

.pa__slider__btn-wrapper {
    height: 100%;
    width: fit-content;
    z-index: 3;
    cursor: pointer;
}

.pa__slider_prev-wrapper {
    left: -13px;
}

.pa__slider_item {
    border-radius: 10px;
    width: 30rem;
    min-height: 19.5rem;
    padding: 3rem;
    background: #FFF;
    box-shadow: 0px 1px 8px 0px rgba(20, 46, 110, 0.10);
}
.pa__slider_item_top {
    flex: 1;
}
.pa__slide_item_title {
    color: #4D4D4D;
    font-size: 1.6rem;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 6rem;
}

.slider_item_days {
    color: #A9A9A9;
    font-size: 1.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 140%;
}

.pa__slide_item_price {
    color: #36CACB;
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
}

.pa__slider_slide {
    padding: 3px 0 3px 5px;
    margin-right: 10px;
}

.slider_item_btn {
    height: 4rem;
    font-size: 1.3rem;
    font-weight: 600;

    cursor: pointer;
}
.pa__slider_item_bottom {
    position: relative;
}
.pa__slider_item_bottom .already-in-cart {
    transform: translateX(10%);
}
.quality-analyzes__title {
    text-align: center;
    max-width: 762px;
    font-weight: 600;
    align-self: center;
}

.quality-analyzes {
    background: #F8F8F8;
    padding-top: 6rem;
}

.qa__item {
    max-width: 40rem;
    padding: 3.3rem;

}
.promo_mb {
    display: none;
}
.promo {
    padding-top: 4rem;
    padding-bottom: 25rem;
}
.promo__slider .slick-list, .promo__slider .slick-track{
    height: 100%;
}
.promo__slide_date {
    font-size: 2.4rem;
}
.promo__mb_date {
    font-size: 1.6rem;
}
.promo__mb_title {
    font-size: 3rem;
    font-weight: 600;
}
.promo__mb_value {
    font-size: 6.6rem;
    font-weight: 700;
}
.promo__mb_description {
    font-size: 1.4rem;
}
.promo__mb_content {
    padding-bottom: 4rem;
    height: 100%;
}
.promo__mb_btn {
    height: 4rem;
    font-size: 1.2rem;
}
.promo__mb_false_pagination {
    opacity: 0;
}
.promo_mb_slide_pagination {
    bottom: 4rem;
    height: 4rem;
    width: 13rem;
    right: 16vw;
}
.promo__mb_slider_count {
    color: black;
    font-weight: 500;
}
@media (max-width: 730px) {
    .promo_mb_slide_pagination {
        right: 12vw;
    }
}
@media (max-width: 680px) {
    .promo_mb_slide_pagination {
        right: 7vw;
    }
}
#promo-mb-count {
    min-width: 3.2rem;
}
.promo__mb_content-wrapper {
    padding-top: 3rem;
    background: rgba(245, 245, 242, 1);
}
.promo__mb_image {
    height: 26.6rem;
    background-size: cover;

}
.promo__slider_container {
    overflow: hidden;
    border-radius: 1rem;
}
.promo__slide_wrapper {
    background-size: cover;
    background-position: center;
    padding: 8rem 8rem 4rem 10rem;
}
.promo__slide_dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: rgba(54, 202, 203, 0.5);
}
.promo__slide_dot-active {
    background: rgba(54, 202, 203);
}
.promo__slider_pagination {
    bottom: 4rem;
    width: fit-content;
    left: 10rem;
    z-index: 2;
}
.promo__slide_top {
}
.promo__slide_bottom {
    gap: 4rem;
}
.promo__slide_value {
    font-size: 96px;
}
.promo__slide_pag_btn svg, .promo__slide_pag_btn path, .promo__mb_slide_pag_btn svg, .promo__mb_slide_pag_btn path{
    transition: .3s fill, .3s stroke;
}
.promo__slide_pag_btn:hover path:first-child {
    opacity: 1;
    fill: #FFCF00;
    stroke: #FFCF00;
}
.promo__slide_pag_btn:hover path:last-child {
    opacity: 1;
    stroke: white;
}
.promo__mb_slide_pag_btn:hover path:first-child {
    opacity: 1;
    fill: #FFCF00;
    stroke: #FFCF00;
}
.promo__mb_slide_pag_btn:hover path:last-child {
    opacity: 1;
    stroke: white;
}

.promo__title {
    font-weight: 600;
    font-size: 4.8rem;
    max-width: 68.1rem;
}
.promo__description {
    max-width: 35rem;
    color: #4D4D4D;
    font-size: 1.6rem;

}
.promo__slide {

}
.promo__btn {
    padding: 1.5rem 2rem;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 5.5rem;
}
.qa__item_icon {
    min-height: 5rem;
    min-width: 5rem;
    border-radius: 12px;
    background: linear-gradient(45deg, #12B2B3 0%, #56E0E0 100%);
}

.qa__item_title {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 100%;
}

.qa__item_text {
    font-size: 1.6rem;
    line-height: 140%;
    width: 100%;
    max-width: 98%;
}

.qa__items {
    margin-top: 4rem;
    flex-wrap: wrap;
    row-gap: 4.2rem;
    margin-bottom: 12rem;
}

.qa__about {
    padding: 4rem;
    gap: 4rem;
    border-radius: 10px;
    color: white;
    background: #4D4D4D;
    box-shadow: 0px 1px 24px 0px rgba(20, 46, 110, 0.05);
}

.qa__about_bottom {
    padding: 0 5.4rem;
    height: fit-content;
}

.qa__about__text {
    max-width: 456px;
    height: inherit;
    gap: 21px;
}

.qa__about_bottom img {
}

.qa__about__text p {
    font-size: 18px;
    line-height: 130%;
}

.qa__about_ph {
    height: 30px;
    width: 300px;
    background: black;
}

.about__bg {
    top: 0;
    left: 0;
}

.about__bg_item {
    height: 50%;
}

.about__bg_white {
    background: white;
}

.about__bg_gray {
    background: #F8F8F8;
}

.branches {
    padding-top: 12rem;
}

.branches__title {
    margin-bottom: 4rem;
}

.branches__map {
    height: 70rem;
}
@media (max-width: 1360px) {
    .pa__slider_item {
        padding: 2.5rem;
        max-width: 29.5rem;
        box-shadow: 0px 1px 4px 0px rgba(20, 46, 110, 0.10);
    }
    .pa__slider_next-wrapper {
        right: -9px;
    }
    .qa__about_bottom {
        flex-direction: column;
        gap: 3rem;
        padding: 0 4rem;
    }
    .qa__about_bottom img, .qa__about__text {
        width: 100%;
        max-width: 100%;
    }
    .qa__about_top svg {
        width: 4rem;
    }
    .branches__map {
        height: 60rem;
    }
}
@media (max-width: 1015px) {
    .pa__slider_item {
        max-width: 35rem;
        width: 35rem;
    }
    .promo__title {
        font-size: 3.6rem;
    }
    .promo__description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .branches__map {
        max-height: 40rem;
    }
    .branches__map iframe {
        height: 100%;
    }
    .qa__item {
        max-width: 100%;
        padding: 4rem;
    }
    .qa__item br {
        display: none;
    }
    .quality-analyzes__title {
        text-align: left;
    }
}
@media (max-width: 800px) {
    .promo_mb {
        display: block;
    }
    .promo__slide_wrapper {
        padding: 4rem 4rem 5rem 6rem;
    }

    .promo {
        display: none;
        padding-bottom: 4rem;
    }
    .promo__slider_pagination {
        bottom: 4rem;
        left: 6rem;
    }
    .promo__slider_container {
        max-height: 43.5rem;
        height: 43.5rem;
    }
    .promo__btn {
        margin-bottom: 4.5rem;
    }
    .promo__description {
        font-size: 1.8rem;
        max-width: 100%;
    }
    .promo__title {
        max-width: 100%;
        font-size: 2.4rem;
    }
    .get-results__title {
        font-size: 4rem;
    }
    .pa__slider_item {
        max-width: 100%;
        width: 100%;
        padding: 2rem;
    }
    .pa__slider_item_bottom .already-in-cart {
        left: 0;
        transform: unset;
        text-align: right;
    }
    .pa__slider_slide {
        padding: 3px 0px 3px 5px;
    }
    .qa__about_bottom {
        flex-direction: column-reverse;
        gap: 3rem;
        padding: 0;
    }
    .qa__about {
        padding: 3rem 0;
    }
    .qa__about_top, .qa__about__text {
        padding: 0 4rem;
    }

}
@media (max-width: 600px) {
    .promo__mb_image {
        height: 22rem;
    }
    .get-results__title {
        font-size: 3.2rem;
    }
    .section__title {
        font-size: 2.6rem;
    }
    .pa__slider_title {
        font-size: 2rem;
    }
    .qa__about_top {
        align-items: center;
    }
    .qa__about_top svg {
        max-width: 2.6rem;
    }
    .qa__about__text p{
        font-size: 1.6rem;
    }

}
@media (max-width: 450px) {
    .promo__mb_image {
        height: 16.4rem;
    }
    .promo__slide_wrapper {
        padding: 3.4rem;
    }
    .promo__slider_pagination {
        bottom: 3.4rem;
        width: fit-content;
        left: 3.4rem;
    }
    .branches__map {
        max-height: 25rem;
    }
    .get-results__title {
        font-size: 2.4rem;
    }
    .get-results__text {
        font-size: 2rem;
    }
    .get-results__field input {
        font-size: 12px;
    }
    .get-results {
        padding-bottom: 10rem;
    }
    .qa__item_icon {
        min-width: 4.3rem;
        min-height: 4.3rem;
    }
    .qa__item_icon svg{
        max-width: 3.6rem;
        max-height: 3.6rem;
        width: 60%;
        height: 60%;
    }
    .qa__item_title {
        font-size: 1.7rem;
    }
    .qa__item_text {
        font-size: 1.4rem;
    }
    .qa__item {
        padding: 3rem;
    }
    .qa__about__text p{
        font-size: 1.4rem;
    }
    .qa__about_top, .qa__about__text {
        padding: 0 2.5rem;
    }
    .pa__slider_item {
        padding: 2rem 1.5rem;
    }
    .pa__slider__btn-wrapper svg {
        max-width: 3rem;
    }
    .pa__slider_next-wrapper {
        right: -4px;
    }
    .pa__slider_prev-wrapper {
        left: -9px;
    }
    .qa__about_section {
        font-size: 2rem;
    }
    .about .wrapper {
        max-width: unset;
        padding: 0;
    }
    .qa__about {
        width: 100%;
        border-radius: 0;
    }
}

