.not-found {
    min-height: 55vh;
}

.not-found__img {
    background: url("../img/notfound.svg");
    background-size: cover;
    height: 555px;
}

.not-found__info .paragraph {
    max-width: 49.4rem;
}

.not-found__btn {
    max-width: fit-content;
}
@media (max-width: 1360px) {
    .not-found__img {
        max-height: 30rem;
        width: 80%;
        align-self: center;
    }
}
@media (max-width: 800px) {
    .not-found__img {
        max-height: 23rem;
        width: 100%;
        background-size:cover;
    }
}
@media (max-width: 600px) {
    .not-found__info .section__title {
        font-size: 2.4rem;
    }
    .not-found__img {
        max-height: 18rem;
    }
}
@media (max-width: 450px) {
    .not-found__img {
        max-height: 16rem;
    }
}