

.order {
    min-height: 50vh;
}

.order__left {
    gap: 4rem;
}

.order__form {
    max-width: 51rem;
}
@media (max-width: 1015px) {
    .order__block {
        flex-direction: column!important;
    }
    .order__form {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
    }
    .form__field {
        flex: 1;
    }
}
@media (max-width: 600px) {
    .order__form {
        flex-direction: column;
        max-width: 100%;
    }
    .section__title {
        font-size: 3.5rem;
    }
}
@media (max-width: 450px) {
    .section__title {
        font-size: 2.4rem;
    }
}