.ordered {
    min-height: 60vh;
}
.ordered__code {
    border-radius: 6px;
    background: #F8F8F8;
    font-size: 2.4rem;
    padding: .8rem 1.5rem;
}
.ordered__text {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 150%;
    max-width: 73rem;
}
.ordered__block_info {
    gap: 4rem;
}
@media (max-width: 800px) {
    .ordered__block_top {
        flex-direction: column;
        align-items: flex-start;
    }
    .ordered__code {
        border-radius: 6px;
        background: #F8F8F8;
        font-size: 1.8rem;

    }
    .ordered__text {
        font-size: 2rem;
    }
}
@media (max-width: 450px) {
    .ordered__block, .ordered__block_top {
        align-items: center;
    }
    .ordered__text {
        text-align: center;
    }
    .ordered__btn {
        align-self: center;
    }
}