.payment {
    min-height: 50vh;
}
#pay-form {
    max-width: 50rem;
    width: 100%;
}
.payment__card {
    border-top: 2px solid #f5f5f5;
    border-left: 2px solid #f5f5f5;
    border-right: 2px solid #f5f5f5;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 1.5rem;
}
.payment__card_field {
    padding: .6rem 1rem;
}
.payment__card_field label {
    font-size: 1.4rem;
}
.payment__card_field input {
    font-size: 2.3rem;
    padding: .4rem;
    width: 100%;
}
.payment__card_field input::placeholder {
    color: #E1E1E1;
}
#pay-form button {
    font-size: 1.6rem;
    padding: 1.5rem;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background: #548aff;

}
#pay-form button:disabled {
    background: rgba(43, 132, 236, 0.15);
}
#payment-error {
    margin-top: 1rem;
    font-size: 1.3rem;
}
.payment__secured {
    margin-top: 1rem;
}
.payment__title {
    margin-bottom: 2rem;
}

.preloader__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.preloader__body {
    display: flex;
    align-items: center;
}
.pay-state {
    display: none;
}
.pay-current-state {
    display: flex !important;
}

.preloader {
    width:100px;
    height:100px;
    display:inline-block;
    padding:0px;
    border-radius:100%;
    border:6px solid;
    border-top-color: #FFBB00;
    border-bottom-color: #FFBB00;
    border-left-color: rgba(255, 173, 11, 0.42);
    border-right-color: rgba(255, 173, 11, 0.13);
    -webkit-animation: preloader4 0.8s linear infinite;
    animation: preloader4 0.8s linear infinite;
}
.payment__cp_icon {
    max-width: 120px;
    max-height: 120px;
}
@keyframes preloader4 {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@-webkit-keyframes preloader4 {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@media (max-width: 600px) {
    .payment {
        min-height: unset;
    }
}

@media (max-width: 410px) {
    .payment__cp_icon {
        display: none;
    }
    .payment__card_bottom .payment__card_field * {
        max-width: 80px;
    }
}
