.product {
    min-height: 50vh;
}
.product__left h2 {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.product__left hr {
    display: none;
}
.product__left h3, .product__left h4 {
    margin-top: 1.5rem;

}
.product__left h3 {
    font-size: 2.4rem;
}
.product__left ul, .product__left ol {
    padding-left: 16px;
}
.product__left li {
    list-style-type: disc;
}
.product__left p , .product__left li, .product__left blockquote{
    font-size: 1.6rem;
    margin: 5px 0;
}
.product__block {
    gap: 4rem;
}


.product__d_title {
    font-size: 2.4rem;
    font-weight: 600;
}

.product__ul {
    gap: 3px;
}
@media (max-width: 600px) {
    .product__left h2 {
        font-size: 3.2rem;
        font-weight: 600;
        margin-bottom: 2.5rem;
        line-height: 110%;
    }
    .product__left {
        gap: 5px;
    }
}


