.profile {
    min-height: 60vh;
}

.profile__bar {
    max-width: 26rem;
    width: 100%;
    max-height: 67.3rem;
    padding: 4rem;
    height: 67.3rem;
    position: sticky;
    top: 2rem;
}

.profile__g_title {
    color: #A9A9A9;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.profile__bar_tab {
    cursor: pointer;
}

.profile__bar_tab p, .profile__logout {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 140%;
    transition: .3s color;
}

.profile__bar_tab svg {
    width: 20px;
    height: 20px;
}

.profile__tab-selected p {
    color: #FFCF00;
    font-weight: 600;
}

.profile__tab-selected .ic-dark-stroke {
    stroke: #FFCF00;
}

.profile__tab-selected .ic-light-stroke {
    stroke: #ffd019;
}

.profile__tab-selected .ic-dark {
    fill: #FFCF00;
}

.profile__content {
    gap: 4rem;
}

.profile__content-small {
    max-width: 80rem;
}

.profile__body {
    flex: 1;
}

.profile__block {
    gap: 7rem;
}

.profile__fields_part {
    max-width: 38.5rem;
}

.profile__btn {
    padding: 1.8rem 4rem;
    border-radius: 6px;
    width: fit-content;
    font-size: 1.6rem;
    font-weight: 600;
}
.profile .form__field_wrapper, .form__selectable {
    max-height: 61px;
}


.profile__fields .form__field {
    min-height: 9rem;
}

.profile__tab {
    display: none;
}

.profile-current-tab {
    display: flex;
}

.profile__order {
    padding: 3rem;
}
.profile__order_pay {
    padding: 1rem 2.5rem;
    font-size: 1.3rem;
}
.profile__order_number p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 140%;
}

.profile__order_code {
    font-size: 1.3rem;
    font-weight: 400;
    padding: .5rem 1rem;
}

.profile__order_date {
    color: #A9A9A9;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 140%;
}

.profile__order_download {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 140%;
}

.profile__doctor {
    padding: 2rem 1rem 3rem 4rem;
    max-width: 45.5rem;
    width: 100%;
}

.profile__doctor_address {
    color: #A9A9A9;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: normal;
}

.profile__doctor_img {
    max-height: 11.5rem;
    max-width: 11.5rem;
    min-width: 11.5rem;
    min-height: 11.5rem;
    border-radius: 12px;
    background: url("../img/doctor_3.jpg") no-repeat;
    background-size: cover;
}

.profile__doctor_text {
    max-width: 17rem;
}

.profile__doctor_name {
    color: #4D4D4D;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.profile__doctor_position {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 140%;
}

.profile__rating_digit {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 140%;
}

.profile__rating_count {
    color: #A9A9A9;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 140%;
}

.modal-doctor-order {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    background: rgba(0, 0, 0, 0.18);
}
.modal-do-opened {
    display: flex !important;
}
.modal-do-date .ui-datepicker {
    position: absolute !important;
}
.modal-do__title {
    font-size: 2.8rem;

}
.modal-do__avatar {
    min-width: 5rem;
    border-radius: 6px;
    min-height: 5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.modal-do__content {
    padding: 2.5rem;
    width: 50rem;
}
.modal-do__name {
    font-size: 2rem;
}
.modal-do__header {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.18);
}
.modal-do-btn {
    font-size: 1.6rem;
    width: fit-content;
    padding: 1rem 2rem;
}
.modal-do__quiz-item {
    display: none;
}
.modal-do__quiz-current {
    display: flex;
}
@media (max-width: 1360px) {
    .profile__bar {
        padding: 3rem;
    }

    .profile .form__field_wrapper, .form__selectable {
        max-height: 45px;
    }

    .profile__fields {
        gap: 3rem;
    }

    .profile__doctor {
        padding: 2rem;
        max-width: 100%;
    }

    .profile__doctor_top, .profile__doctor_bottom {
        justify-content: space-between;
    }

    .profile__doctor_text {
        max-width: 80%;
    }
    .profile__btn {
        padding: 1.4rem 3rem;

    }
}

@media (max-width: 1015px) {
    .profile__bar_tabs {
        gap: 2rem;
    }
    .profile__block {
        flex-direction: column;

    }

    .profile__bar {
        flex-direction: row;
        max-width: 100%;
        height: fit-content;
        padding: 2rem;
    }

    .profile__bar_top, .profile__bar_tabs {
        flex-direction: row;
    }

    .profile__bar_title {
        display: none;
    }

    .profile__bar_tab p, .profile__logout {
        font-size: 1.3rem;
    }
}
@media (max-width: 800px) {
    .profile__doctor_img {
        max-height: 9rem;
        max-width: 9rem;
        min-width: 9rem;
        min-height: 9rem;
    }
    .status {
        font-size: 1.3rem;
        min-width: 9rem;
    }
    .profile__doctor {
        gap: 2rem;
    }
    .profile__doctor_name {
        font-size: 2rem;
    }
    .profile__btn {
        padding: 1.3rem 2rem;
        font-size: 1.3rem;
    }

}
@media (max-width: 600px) {
    .profile__order_bottom {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .profile__doctor_top {
        flex-direction: row-reverse;
    }
    .profile__doctor_address {
        font-size: 1.2rem;
    }
    .profile__doctor_img {
        max-height: 8rem;
        max-width: 8rem;
        min-width: 8rem;
        min-height: 8rem;
    }
    .status {
        font-size: 1.1rem;
        min-width: 9rem;
    }
    .profile__doctor_info {
        gap: 1rem;
    }
    .profile__doctor_person {
        gap: 1.75rem;
    }
    .profile__doctor_name {
        font-size: 1.8rem;
    }
    .profile__doctor_position {
        font-size: 1.4rem;
    }
    .profile__doctor {
        padding: 1.5rem 2rem;

    }
    .profile__fields {
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    .profile__rating_digit {
        font-size: 1.2rem;

    }
    .profile__order_download {
        font-size: 1.2rem;
    }

    .profile__btn {
        padding: 1rem;
        font-size: 1.2rem;
    }
    .status {
        font-size: .9rem;
        min-width: 9rem;
    }
    .profile__doctor_img {
        max-height: 6.5rem;
        max-width: 6.5rem;
        min-width: 6.5rem;
        min-height: 6.5rem;
    }
    .profile__doctor_name {
        font-size: 1.6rem;
    }
    .profile__doctor_position {
        font-size: 1.2rem;
    }
    .profile__logout p {
        display: none;
    }
    .profile__bar_tab svg {
        width: 15px;
        height: 15px;
    }
    .profile__bar {
        padding: 1.2rem;
    }
    .profile__bar_tabs {
        gap: 1.5rem;
    }
    .profile__bar_tab p, .profile__logout {
        font-size: 1.2rem;
    }
}