
html {
    font-size: 10px;
    color: #4D4D4D;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
}

.bg-shadow {
    top: 0;
    left: 0;
    background: rgba(255, 254, 254, 0.10);
    backdrop-filter: blur(3px);
}

.btn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 2rem;
    border-radius: 6px;

}

.v-visible {
    visibility: visible;
}

.v-hidden {
    visibility: hidden;
}

.white-bordered-shadow {
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 1px 8px 0px rgba(19, 101, 101, 0.10);
}

.white-big-bd-shadow {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 1px 8px 0px rgba(20, 46, 110, 0.10);
}

.btn-yellow {
    background: linear-gradient(45deg, #FB0 0%, #FFCB3D 52.60%, #FFDA75 100%);
    box-shadow: 0px 0px 8px 0px rgba(255, 196, 31, 0.50);
}
.btn-yellow:hover {
   opacity: 0.9;
}
.section__title {
    font-size: 4.8rem;
}

.input__block {
    border: 1px solid transparent;
    transition: .3s border;
}

.block-yellow-bordered {
    border: 1px solid #FFCF00 !important;
}
.red-border {
    border: 1px solid #e32121 !important;
}

.input__clear {
    cursor: pointer;
}

.blue__input {
    color: #12B2B3;
    font-size: 1.4rem;
    line-height: 16px;
}

.blue__input::placeholder {
    color: #B2DFDF;
}

.btn-big {
    cursor: pointer;
    padding: 2rem 3rem;
    border-radius: 6px;
    display: flex;
    gap: 5px;
    font-size: 1.6rem;
    font-weight: 600;
}

.analyze__code {
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 1.3rem;
    background: #F8F8F8;
}

.analyze__caption {
    color: #A9A9A9;
    font-size: 1.4rem;
    line-height: 140%;
}

.section__title_small {
    font-size: 40px;
    font-weight: 600;
}

.paragraph {
    font-size: 16px;
    line-height: 140%;
}

.preorder__layout {
    display: flex;
    justify-content: space-between;
}

.preorder__layout_left {
    flex: 1;
}

.preorder__layout_right {
    padding: 4rem;
    max-width: 40rem;
    flex: 1;
    height: fit-content;
}

.product__preorder_top {
    font-size: 1.8rem;
    padding-bottom: 20px;
    border-bottom: 1px solid #E1E1E1;
}

.product__preorder_price {
    font-size: 3.6rem;
}

.product__po_service_name {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 140%;
}

.product__po_service_price {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .5rem 1rem;
    color: white;
    font-size: 13px;
    font-weight: 700;
    border-radius: 2px;
    background: linear-gradient(400deg, #12B2B3, #56E0E0);
}

.product__preorder_btn {
    width: fit-content;
    padding: 1.5rem 1.5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
}

.gray__block {
    border-radius: 6px;
    background: #F8F8F8;
}

.product__lipids {
    margin: 2rem 0;
}

.product__lipids__text {
    font-size: 1.4rem;
    line-height: 140%;
}

.product__a_item {
    padding: 3rem;
    border: 1px solid transparent;
    transition: .3s border;
}

.product__a_item:hover {
    border: 1px solid #FFCF00;
}

.product__a_item_left {
    max-width: 55rem;
    width: 100%;
}

.product__a_item_text {
    overflow: hidden;
    text-overflow: ellipsis;
    whitespace: nowrap;
    font-size: 1.6rem;
    font-weight: 600;
}

.product__a_price {
    color: #36CACB;
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
}

.product__a_item_bottom .product__a_item_left {
    flex: 1;
}

.product__a_item_btn {

    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 600;
    width: 123px;
    height: 4rem;
    gap: 4px;
    border: 1px solid #FFCF00;
    border-radius: 6px;
    display: flex;
    align-items: center;
    transition: .3s background ease;
    justify-content: center;
}
.product__a_item_btn:hover {
    background: #FFCF00;
}
.product__a_item_btn_block {
    gap: 3px;
    border-radius: 5px;
    height: calc(96%);
    width: calc(100% - .16rem);
    background: white;
    transition: .3s background;
}
.already-in-cart {
    left: 50%;
    transform: translateX(-33%);
    width: 100%;
    position: absolute;
    bottom: -16px;
    color: #FFBB00;
    font-size: .9rem;

}
.form__field .red-text {
    visibility: hidden;
}
.form__field_invalid_caption {
    visibility: visible !important;
}

.product__a_item_btn_block:hover {

    background: transparent;

}
.form__field_invalid_caption {
    font-size: 1.3rem;
}
.header__feedback .form__field_invalid_caption {
    font-size: 1.1rem;
}

.preorder__auth_caption {
    font-size: 14px;
    line-height: 140%;
    width: fit-content;
}

.preorder__auth_caption a, .yellow-link {
    color: #FFCF00;
    font-weight: 600;
    text-decoration-line: underline;
}

/*========= FORMS =========*/

.form__type {
    color: #A9A9A9;
    font-size: 1.6rem;
    font-weight: 600;
}

.form__type-selected {
    color: #FFCF00;
}

.form__field {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.form__field-disabled > .form__field_wrapper, .form__field-disabled input {
    background: #F3F3F3;
}

.form__label {
    font-size: 1.6rem;
    font-weight: 700;
}

.form__field_wrapper {
    display: flex;
    border: 1px solid transparent;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 1px 8px 0px rgba(19, 101, 101, 0.05);
}

.form__field_input::placeholder {
    color: #C5C5C5;
}

.form__field_input {
    font-weight: 500;
    flex: 1;
    font-size: 1.6rem;
}

.form__selectable {
    color: #A9A9A9;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 1.5rem 2.4rem;
    border-radius: 6px;
    border: 1px solid #A9A9A9;
    cursor: pointer;
    transition: .3s background, .3s border, .3s color;
}

.form__ways {
    gap: 4rem;
}

.form__selectable_wrapper {
    display: flex;
    gap: 10px;
}

.form__selectable-selected {
    background: #FFCF00;
    border: 1px solid #FFCF00;
    color: #4D4D4D;

}

.ic-light, .ic-dark {
    transition: .3s fill;
}

.ic-light {
    fill: #B8B8B8;
}

.ic-dark {
    fill: #4D4D4D;
    transition: .3s fill;
}

.ic-light-stroke, .ic-dark-stroke {
    transition: .3s stroke;
}

.ic-light-stroke {
    stroke: #B8B8B8;
}

.ic-dark-stroke {
    stroke: #4D4D4D;
}

.status {
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 2px;
    padding: .8rem 1.5rem;

}

.green-status {
    background: #7ED321;
}

.yellow-status {
    background: #FCCC00;
}

.gray-status {
    background: #A9A9A9;
}

.sticky__block {
    position: sticky;
    top: 2rem;
    height: fit-content;
}

.search__results {
    max-height: 34.3rem;
    overflow-y: auto;
    overflow-x: hidden;

}

.search__modal {
    z-index: 160 !important;
}

.search__product, .search__not_found {
    border-top: 1px solid #A9A9A9;
    background: white;
    padding: 2rem;
}

.search__modal_content {
    gap: 1px;
}
.get-results {
    height: fit-content;
}

.video-container {
    top: 0;
    left: 0;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 56.25%;
}

.search__product_title {
    color: #4D4D4D;
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.search__product_days {
    color: #A9A9A9;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.search__product_price {
    color: #36CACB;
    font-size: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.search__product_btn {
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    text-wrap: nowrap;
}

.search__modal, .shadowed__background {
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    z-index: 80;
}

.modal_search_block {
    padding: 2rem;
    background: white;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 1px 8px 0px rgba(19, 101, 101, 0.10);
}

.search__product_btn {
    padding: 1rem 1.5rem;
}

.search__modal-opened {
    display: flex !important;
}
.search-fully-bordered {
    border-radius: 6px !important;
}
.search__modal_content {
    max-width: 84rem;
    margin-top: 5.5rem;
    width: 100%;
    height: fit-content;
}


#search-input {
    flex: 1;
}

.search__btn_mini {
    display: none;
}

.bottom-bar {
    z-index: 200;
    padding: 1.5rem 0;
    bottom: 0;
    left: 0;
    position: fixed;
    display: none;
    background: white;
    box-shadow: 0px -1px 8px 0px rgba(53, 53, 53, 0.10);
}

.bottom-bar__block {

}

.bottom-bar__item {
    gap: 3px;
    font-size: 1rem;

}

.bottom-bar__item svg {
    width: 18px;
    height: 18px;
}

.menu-mobile {
    background: white;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 201;
    color: white;
    visibility: hidden;
    opacity: 0;
    transform: translateX(200vw);
    transition: .5s visibility, .5s opacity, .5s transform;

}

.menu-mobile-opened {
    opacity: 1;
    visibility: visible;
    transform: unset;
}

.menu-mobile__header {
    padding: 1rem 0;
    font-size: 1rem;

    background: linear-gradient(45deg, #12B2B3 0%, #56E0E0 100%);
}

.menu-mobile__body {
    background: white;
    padding-top: 3rem;
    padding-bottom: 4rem;
    color: #4D4D4D;
}

.menu-mobile__body .header__bt_nav_item p {
    font-size: 1.6rem;
}

.menu-mb__nav_item {
    width: unset;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #E1E1E1;
}

.menu-mobile__footer {
    color: #4D4D4D;
    padding-top: 3rem;
    border-top: 1px solid #E1E1E1;
    min-height: 134px;
}

.menu_mb__phone_title {
    font-size: 1.4rem;

}

.menu_mb__link {
    font-size: 1.6rem;
}

.menu-mobile__nav {
    overflow-y: auto;
    max-height: 100%;
}

@media (max-width: 1360px) {
    .wrapper {
        max-width: 950px;
    }
    .cart__right_btns {
        flex-direction: column;
        align-items: flex-start;
    }
    .preorder__layout_right {
        max-width: 30rem;
        padding: 3rem;
    }

    .product__preorder_price {
        font-size: 3.2rem;
    }
    .product__a_item {
        padding: 2rem;
    }

    .product__a_item_bottom {
        gap: 3rem;
    }

    .product__a_item_text {
        font-size: 1.4rem;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 92%;
    }

    .product__a_item_btn {
        width: 11rem;
        height: 3.5rem;
        font-size: 1.2rem;
    }

    .product__a_item_btn_block {
        width: calc(100% - 0.16rem);
    }

    .product__a_price {
        font-size: 2rem;
    }
    .product__a_item .analyze__caption {
        font-size: 1.3rem;
    }

    .product__a_item .analyze__code {
        font-size: 1.2rem;
    }
    .form__ways {
        gap: 2rem;
    }
    .section__title_small {
        font-size: 28px;
    }
    .form__label,  .form__field_input {
        font-size: 1.3rem;
    }
    .form__field_wrapper {
        padding: 1.4rem;
    }
    .section__title {
        font-size: 4rem;
    }
}

@media (max-width: 1015px) {

    .product__a_item_btn_block p {
        display: none;

    }

    .product__a_item_btn svg {
        height: 45%;
        width: unset;
    }

    .product__a_item_btn {
        width: fit-content;
        padding: 0 1rem;
        height: 3rem;
    }


    .product__a_item_btn_block {
        height: calc(100% - 0.16rem);
    }

    .product__a_item .analyze__caption, .analyze__code {
        font-size: 1.1rem;
    }

    .product__lipids_item .analyze__code {
        min-width: fit-content;
    }

    .product__lipids__text {
        font-size: 1.25rem;
    }
    .product__a_item_text {
        font-size: 1.3rem;
    }

    .product__a_price {
        font-size: 1.6rem;
    }
    .wrapper {
        max-width: 750px;
    }

    .search__modal_content {
        max-width: 88%;
    }

    .preorder__layout {
        flex-direction: column;
        gap: 2rem;
    }

    .preorder__layout_right {
        max-width: 100%;
        padding: 2rem;
        position: static;
    }

    .product__preorder_top {
        padding: .5rem;
    }

    .product__preorder_btn {
        padding: 1.2rem 2rem;
    }

    .product__preorder_content {
        gap: 1.5rem;
    }
}

@media (max-width: 800px) {
    .section__title_small {
        font-size: 2rem;
    }
    .search__modal_content {
        margin-top: 0;
        max-width: 100%;
        background: white;
        height: 74vh;
        max-height: 43.5rem;
        padding-bottom: 3.5rem;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .preorder__auth_caption {
        font-size: 1.1rem;
    }
    .wrapper {
        max-width: 600px;
        padding: 0 3rem;
    }

    .section__title {
        font-size: 4rem;
    }

    .bottom-bar {
        display: block;
    }

    .menu-mobile {
        display: flex;
    }
}

.modal_search_block {
    border-radius: 6px 6px 0 0;
    justify-content: center;
}

.search__not_found {
    padding: 2rem;
    font-size: 1.4rem;
    background: white;
}
.red-text {
    color: #F43023;
}
.f-modal-opened {
    display: flex !important;
}
.d-modal-opened {
    display: block !important;
}

@media (max-width: 600px) {
    .search__product_btn .search__btn_wide {
        display: none;
    }
    .search__product .already-in-cart {
        display: none;
    }
    .form__selectable {
        padding: 1.1rem 2rem;
    }
    .search__btn_mini {
        display: block;
        min-width: 1rem;
        min-height: 1rem;
    }
    .search__modal_content {
        max-height: 40.5rem;
    }
    .search__product_btn {
        width: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product__preorder_top {
        flex-direction: row;
        gap: .7rem;
        align-items: center;
    }
    .product__preorder_top b {
        font-weight: 600;
    }
    .product__po_service_name, .product__preorder_btn {
        font-size: 1.2rem;
    }
    .product__preorder_btn {
        padding: 1rem;
    }
    .product__po_service_price {
        padding: 0.2rem 0.6rem;
        font-size: 11px;
    }
    .product__preorder_price {
        font-size: 2.4rem;
        font-weight: 700 !important;
    }
    .product__preorder_top {
        padding: 0;
        padding-bottom: 5px;
    }

    .product__preorder_services {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 5px;
    }
    .product__preorder_service {
        width: fit-content;
    }
    .preorder__layout_right {
        padding: 1.8rem;
    }
    .search__product_title, .search__not_found {
        font-size: 1.2rem;
    }

    .search__product_days {
        font-size: 1.1rem;
    }

    .search__product_price {
        font-size: 1.6rem;
    }

    .search__product, .modal_search_block {
        padding: 1rem;
    }

    .search__results {
    }
}

@media (max-width: 450px) {
    .form__type {
        font-size: 1.2rem;
    }
    .search__results {
        max-height: 29.3rem;
    }
    .search__modal_content {
        max-height: 36.5rem;
    }
    .form__label, .form__field_input {
        font-size: 1.15rem;
    }
    .section__title {
        font-size: 2.4rem;
    }

    .wrapper {
        padding: 0 2rem;
    }
    .product__a_item .analyze__code {
        font-size: 1.1rem;
    }
    .product__a_item_text {
        font-size: 1.2rem;
    }

    .product__a_item_top {
        flex-direction: column-reverse;
        gap: 1rem;
    }
    .product__a_item_bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .product__a_item_btn_block p{
        display: block;
    }

    .product__a_item_btn {
        height: 3.5rem;
        width: fit-content;
        padding: 0 2rem;

    }
    .product__a_item_btn_block svg {
        height: 1rem;
        width: 1rem;
        width: fit-content;
    }
    .product__a_item_btn_block p {
        min-width: fit-content;
        font-size: 1.1rem;
    }
    .product__a_item_text {
        max-width: 100%;
    }
    .product__a_item_left {
        width: 100%;
    }
    .product__a_item_bottom {
        margin-top: 1rem;
        gap: 1rem;
    }
    .product__a_item {
        padding: 1.2rem;
    }
}